body {
    background-color: rgb(255, 255, 165);
}

.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
    width: 600px;
    position: relative;
    display: block
}

.item {
    position: relative;
}

.flechas {
    display: flex;
    align-items: center;
    height: 400px; 
    width: 600px; 
    position: absolute; 
    top: 0; 
    left: 0;
    justify-content: space-between;
    padding: 20px;
}
    
.flecha {
    font-size: 24px;
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer; /* Para indicar que es clickable */
    padding-right: 30px;
    padding-left: 0;
}
