body {
    background-color: rgb(255, 255, 165);
}

.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}

.container {
    max-width: 1200px; /* Ajusta el ancho máximo según sea necesario */
    margin: 0 auto; /* Centra el contenedor */
    padding: 20px; /* Espaciado interno */
}

.content {
    display: flex; /* Utiliza flexbox para alinear los elementos en fila */
    justify-content: space-between; /* Espaciado entre columnas */
}

.text-column {
    flex: 1; /* Toma espacio proporcional en la fila */
    margin-right: 20px; /* Espacio entre la columna de texto y la imagen */
}

.image-column {
    flex: 1; /* Toma espacio proporcional en la fila */
}

.image {
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
    height: auto; /* Mantiene la relación de aspecto de la imagen */
}