body {
    background-color: rgb(25, 66, 144);
    font-family: Georgia, 'Times New Roman', Times, serif; 
    color: whitesmoke;
}

h1 {
    text-align: center;
    font-size: 60px;
}

.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
    width: 600px;
    position: relative;
    display: block}

    .item {
        position: relative;
    }

.flechas {
    display: flex;
    align-items: center;
    height: 400px; 
    width: 600px; 
    position: absolute; 
    top: 0; 
    left: 0;
    justify-content: space-between;
    padding: 20px;
}
    
.flecha {
    font-size: 24px;
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer; /* Para indicar que es clickable */
    padding-right: 30px;
    padding-left: 0;
}

.container {
    max-width: 1200px; /* Ajusta el ancho máximo según sea necesario */
    margin: 0 auto; /* Centra el contenedor */
    padding: 20px; /* Espaciado interno */
}

.content {
    display: flex; /* Utiliza flexbox para alinear los elementos en fila */
    justify-content: space-between; /* Espaciado entre columnas */
}

.text-column {
    flex: 1; /* Toma espacio proporcional en la fila */
    margin-left: 50px; /* Espacio entre la columna de texto y la imagen */
}

.image-column {
    flex: 1; /* Toma espacio proporcional en la fila */
}



